/* .App {
  text-align: center;

} */

.Card-box {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'header'
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'seven'
  ;
  /* padding-block: 2rem; */
  width: min(95%, 70rem);
  margin-inline: auto;
}

.card:nth-child(2) {
  grid-area: one;
  /* border: 10px pink solid; */
}

.card:nth-child(3) {
  grid-area: two;
  /* border: 10px blue solid; */
}

.card:nth-child(4) {
  grid-area: three;
  /* border: 10px red solid; */
}

.card:nth-child(5) {
  grid-area: four;
  /* border: 10px red solid; */
}

.card:nth-child(6) {
  grid-area: five;
  /* border: 10px red solid; */
}
.card:nth-child(7) {
  grid-area: six;
  /* border: 10px red solid; */
}
.card:nth-child(8) {
  grid-area: seven;
  /* border: 10px green solid; */
}

.header{
  grid-area: header;
  /* border: 10px red solid; */
}


/* For mobile phones: */
.Card-box {
  grid-template-areas:
      "header"
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven";
  height: 95vh;
  width: 95vw;
  row-gap: 20px;
  column-gap: 10px;
  margin-top: 15px;
  
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .Card-box {
    grid-template-areas:
    "header header"
    "header header"
    "one two"
    "three three"    
    "four five"
    "six seven";
  
  }
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .Card-box {
    grid-template-areas:
      "header header header"
      "header header header"
      "one one three"
      "two two three"      
      "four five six"
      "four five six"
      "seven seven seven";
  }
}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .Card-box {
    grid-template-areas:
      "header header header one"
      "header header header two"
      "header header header three"
      "header header header three"
      "four five six seven"
      "four five six seven"
      "four five six seven";
  }
}